@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'ChosunGu', sans-serif;
  font-weight: 500; /* 살짝 굵게 */
}

* {
  box-sizing: border-box;
  font-family: 'ChosunGu', sans-serif;
  text-shadow: 0 0 1px white;
}
::-webkit-scrollbar {
  display: none;
}

.divider {
  width: 50%;
  background: linear-gradient(to right, transparent, 25%, #fcdeff, 75%, transparent);
  height: 0.2em;
  border-radius: 2px;
  margin: 2em 0;
}
